<a href="https://colab.research.google.com/github/aishani1903/MyAssignments/blob/main/Assignment_2(Data_Types_Assignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("-----Anything-----")

-----Anything-----

In [ ]:
str1 = "Technology" 
str2 = "for all"

In [ ]:
str1+ " " + str2

'Technology for all'

In [ ]:
num1 = int(input("enter a number: "))
num2 = int(input("enter a number: "))
num3 = int(input("enter a number: "))

enter a number: 1
enter a number: 2
enter a number: 3

In [ ]:
print("First number is ", num1)
print("Second number is ", num2)
print("Third number is ", num3)

First number is  1
Second number is  2
Third number is  3

In [ ]:
print("Lets Get started")

Lets Get started

In [ ]:
s="TFA" 
course= "Python"
fees= 5000

In [ ]:
print("{} {} course costs {}.".format(s, course, fees))

TFA Python course costs 5000.

In [ ]:
name="Tony Stark"
salary=1000000
print(name, salary)

Tony Stark 1000000

In [ ]:
list = []

n = int(input("Enter number of elements : "))
 
for i in range(0, n):
    val = int(input())
 
    list.append(val) 
print(list)

Enter number of elements : 4
1
2
3
4
[1, 2, 3, 4]

In [ ]:
list2 = ["google","apple","facebook","microsoft","tesla"]
list.append(list2)
list

[1, 2, 3, 4, ['google', 'apple', 'facebook', 'microsoft', 'tesla']]

In [ ]:
list2.count("google")

1

In [ ]:
numbers = [21,54,23,11,90]
sorted(numbers)

[11, 21, 23, 54, 90]

In [ ]:
def Merge(list1, list2):
    final_list = list1 + list2
    final_list.sort()
    return(final_list)
  
list1 = [55,23,1,54,22]
list2 = [65,22,33,12,76]
print(Merge(list1, list2))

[1, 12, 22, 22, 23, 33, 54, 55, 65, 76]

In [ ]:
stack = ["ABC", "DEF", "PQR"]
stack.append("XYZ")
stack.append("LMN")
print(stack)
  
# Remove the last item
print(stack.pop())
  
print(stack)
  
# Remove the last item
print(stack.pop())
  
print(stack)

['ABC', 'DEF', 'PQR', 'XYZ', 'LMN']
LMN
['ABC', 'DEF', 'PQR', 'XYZ']
XYZ
['ABC', 'DEF', 'PQR']