<a href="https://colab.research.google.com/github/aishani1903/MyAssignments/blob/main/Assignment3(Data_TypesII_Decision_Control).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a tuple with different data types
tup = ("tuple", 1.3, 2, True)
print(tup)

('tuple', 1.3, 2, True)

In [ ]:
len(tup)

4

In [ ]:
tupl = (4,3,6,2,9)

In [ ]:
max(tupl)

9

In [ ]:
min(tupl)

2

In [ ]:
def mul(tupl) :
     
    # Multiply elements one by one
    result = 1
    for x in tupl:
         result = result * x
    return result

print(mul(tupl))

1296

In [ ]:
lst = []
 
# number of elements as input
n = int(input("Enter number of elements : "))
 
# iterating till the range
for i in range(0, n):
    ele = int(input())
 
    lst.append(ele) # adding the element
     
print(set(lst))

Enter number of elements : 4
21
24
32
23
{24, 32, 21, 23}

In [ ]:
lst2 = []
 
# number of elements as input
n = int(input("Enter number of elements : "))
 
# iterating till the range
for i in range(0, n):
    ele = int(input())
 
    lst2.append(ele) # adding the element
     
print(set(lst2))

Enter number of elements : 4
1
23
44
11
{1, 11, 44, 23}

In [ ]:
for i in lst:           #Print the result of intersection of two sets.
  for j in lst2:
    if i == j:
      print(i)

23

In [ ]:
if(lst == lst2):        #compare 2 sets
  print("True")
else:
  print("False")

False

In [ ]:
dct = {12:"ABC", 17:'XYZ', 19:"PQR", 9:"LMN", 13:"OPI"}

In [ ]:
marklist = sorted(dct.items(), key=lambda x:x[0])     #Sort the dictionary created in the previous question according to marks.
sortdict = dict(marklist)
print(sortdict)

{9: 'LMN', 12: 'ABC', 13: 'OPI', 17: 'XYZ', 19: 'PQR'}

In [ ]:
count = {"M":0,"I":0,"S":0,"P":0}
word = "MISSISSIPPI"
for i in word:
	if i == "M":
		count['M'] = count['M']+1
	elif i == "I":
		count['I'] = count['I']+1
	elif i == "S":
		count['S'] = count['S']+1
	elif i == "P":
		count['P'] = count['P']+1
print(count)

{'M': 1, 'I': 4, 'S': 4, 'P': 2}

In [ ]:
year = 2021

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

2021 is not a leap year

In [ ]:
l=int(input("Enter your first number :"))
b=int(input("Enter your second number :"))
if l==b:
  print("Its a square")
else :
  print("its an rectangle")

Enter your first number :3
Enter your second number :3
Its a square

In [ ]:
age1=int(input('enter age1: '))
age2=int(input('enter age2: '))
age3=int(input('enter age3: '))
if age1>age2 and age1>age3:
    print(age1,' is oldest')
elif age2>age1 and age2>age3:
    print(age2,' is oldest')
else:
    print(age3,' is oldest')
if age1<age2 and age1<age3:
    print(age1,' is youngest')
elif age2<age1 and age2<age3:
    print(age2,' is youngest')
else:
     print(age3,' is youngest')

enter age1: 13
enter age2: 17
enter age3: 21
21  is oldest
13  is youngest

In [ ]:
points = int(input("How many points have you earned?: "))
if points >= 160 and points < 201:
  print("Congratulations! You won chocolate")
elif points >= 140 and points < 160:
  print("Congratulations! You won book")
elif points >= 85 and points < 140:
  print("Congratulations! You won wooden dog")
elif points < 85:
  print("Sorry! No prize this time")
else: 
  print("Invalid entry")

How many points have you earned?: 192
Congratulations! You won chocolate

In [ ]:
qty = int(input("How much quantity did u purchase?: "))
if qty > 1000:
  a = (100*qty)*0.1
print(a)

How much quantity did u purchase?: 1100
11000.0