<a href="https://colab.research.google.com/github/aishani1903/MyAssignments/blob/main/Assignnment_11(WebSrapping).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [135]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn 
from sklearn.linear_model import LinearRegression

In [5]:
url = 'https://www.pararius.com/apartments/amsterdam?ac=1'
page = requests.get(url)
page

In [9]:
soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find_all('section', class_= 'listing-search-item')

In [22]:
from csv import writer
with open('housing.csv', 'w', encoding = 'utf8', newline = '') as f:
  thewriter = writer(f)
  header = ['Title', 'Location', 'Price', 'Area']
  thewriter.writerow(header)
  for list in lists:
    title = list.find('a', class_ = 'listing-search-item__link--title').text.replace('\n', '')
    location = list.find('div', class_ = 'listing-search-item__location').text.replace('\n', '')
    price = list.find('div', class_ = 'listing-search-item__price' ).text.replace('\n', '')
    area = list.find('li', class_ = 'illustrated-features__item--surface-area').text.replace('\n', '')
    info = [title, location, price, area]
    thewriter.writerow(info)

In [161]:
df = pd.read_csv('housing.csv')

In [162]:
df.shape

(32, 4)

In [163]:
df.keys()

Index(['Title', 'Location', 'Price', 'Area'], dtype='object')

In [171]:
df.head()

                               Title  ...    Area
0                Apartment Kattengat  ...   70 m²
1  Apartment Nieuwezijds Voorburgwal  ...  180 m²
2                 Apartment Kleiburg  ...   77 m²
3       Apartment Eerste Atjehstraat  ...   55 m²
4         Apartment Columbusplein 48  ...   50 m²

[5 rows x 4 columns]

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     32 non-null     object
 1   Location  32 non-null     object
 2   Price     32 non-null     object
 3   Area      32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [173]:
df.describe()

                              Title  ...   Area
count                            32  ...     32
unique                           32  ...     26
top     Apartment Lumeijstraat 15 2  ...  45 m²
freq                              1  ...      3

[4 rows x 4 columns]